pytubefix==6.13.0
openai==1.42.0
openai-whisper==20231117
llama-index
python-dotenv==1.0.1
pinecone-client==5.0.1
pinecone-plugin-inference==1.0.3
pinecone-plugin-interface==0.0.7
llama-index-vector-stores-pinecone
matplotlib==3.9.2
graspologic==3.4.1
graspologic-native==1.2.1
future==1.0.0
llama-index-graph-stores-neo4j
opentelemetry-api==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-instrumentation==0.47b0
opentelemetry-instrumentation-asgi==0.47b0
opentelemetry-instrumentation-fastapi==0.47b0
opentelemetry-proto==1.26.0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-util-http==0.47b0
openinference-instrumentation==0.1.15
openinference-instrumentation-langchain==0.1.27
openinference-instrumentation-llama-index==2.2.4
openinference-instrumentation-openai==0.1.14
openinference-semantic-conventions==0.1.10
