pytubefix==6.13.0
openai==1.42.0
openai-whisper==20231117
llama-index==0.11.1
python-dotenv==1.0.1
pinecone-client==5.0.1
pinecone-plugin-inference==1.0.3
pinecone-plugin-interface==0.0.7
llama-index-vector-stores-pinecone==0.2.1
matplotlib==3.9.2
